<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <div th:replace="fragments/header :: header-meta"/>

    <title>Pechkin v.0.0.01</title>

    <div th:replace="fragments/header :: header-css"/>

</head>

<body>

    <div id="wrapper">

        <div th:replace="fragments/navigation :: navigation-css"/>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Пустая страница</h1>
                </div>
            </div>
        </div>

    </div>

    <div th:replace="fragments/footer :: footer"/>
</body>

</html>
